# ===== Repository A (Original Repo) =====
REPO_A_PATH=/root/opencti
REPO_A_URL=https://github.com/raysunplus/opencti.git
REPO_A_BRANCH=main

# ===== Repository B (Your fork / customized repo) =====
REPO_B_PATH=/root/opencti-custom
REPO_B_URL=https://github.com/fdahmadi/opencti-custom.git
REPO_B_BRANCH=main

# ===== GitHub Credentials =====
GITHUB_TOKEN=
GITHUB_USER=fdahmadi
GITHUB_OWNER=fdahmadi
GITHUB_REPO=opencti-custom

# ===== Claude =====
CLAUDE_API_KEY=
CLAUDE_MODEL=claude-sonnet-4-5-20250929

